# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE, Editor, & Tool files
.vscode/
.idea/
*.swp
*.bak
*.tmp

# Oracle / Database Tool logs & temporary files
*.log
*.dmp
*.trc
sqlnet.log

# Windows temporary files
~$*.docx
~$*.xlsx
